* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
*:focus {
  outline: none;
}
a{
  color: #1a0dab;
}
body {
  font-family: 'Poppins', sans-serif;
}
button{
  cursor: pointer;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}
header .top__bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
}
main {
  max-width: 1050px;
  margin: 0 auto;
}
.main__wrapper {
  display: flex;
  justify-content: space-between;
}
.main__left {
  padding-left: 2rem;
}
.main__content p {
  color: grey;
}
.search {
  display: flex;
  height: 44px;
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  border-radius: 24px;
  margin: 0 auto;
  width: 690px;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}
.search input[type="search"] {
  width: 510px;
  border: 1px solid transparent;
}
.search__controls img {
  margin: 0 5px;
}
.search__input {
  border-right: 1px solid rgba(0, 0, 0, 0.34);
}
.controls {
  align-items: center;
  display: flex;
}
.controls img {
  margin: 0 12px;
}
.lower__header {
  padding: 20px 0;
}
.lower__header .buttons, .main__left .buttons button {
  display: flex;
  align-items: center;
}
.lower__header .buttons button, .main__left .buttons button {
  padding: 5px;
  width: 100px;
  margin-left: 4px;
  border-radius: 100px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.185);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lower__header .buttons span {
  margin-left: 10px;
}
.control__with__filters {
  padding-left: 266px;
}
.first__card {
  display: flex;
  margin-top: 5px;
  align-items: center;
}
.card__title {
  margin-left: 15px;
}
.card__title h2 {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.842);
}
.card__title p {
  font-size: 12.5px;
}
.card__title span{
  display: flex;
  align-items: center;  
  margin-top: 8px;
}
.card__title img{
  height: 15px;
  margin-left: 10px;
}

.wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.273);
}
.search__results {
  font-size: 14px;
  color: grey;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}
.main__left .buttons{
width: 400px;
display: flex;
margin-left: 10px;
}
.main__left .buttons button{
  background-color: #e7e7ea;
  border: 1px solid #e7e7ea;
}
.main__left .buttons button:hover{
  background-color: #ceced1;
}
.second__card{
  margin-top: 30px;
}
.second__card img:first-child{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.second__card img{
  margin-right: 2px;
}
.second__card img:last-child{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.more__images{
display: flex;
justify-content: flex-end;
margin-top: -10px;
z-index: 2;
position: relative;
color: white;
}
.more__images__bg{
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 134px;
  margin-top: -25px;
margin-right: 32px;
background-color: rgba(0, 0, 0, 0.665);
font-size: 12px;
}
.more__images__bg span{
  margin-left: 5px;
}
.other__cards{
  border-right: 1px solid #00000026;
  padding-right: 30px;
  width: 712px;
}
.top__stories h2, .people__ask h2:first-child{
  font-weight: 500;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  
}
.top__stories, .top__stories h2{
  border-bottom: 1px solid rgba(0, 0, 0, 0.217);
}
.news__blocks{
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-column-gap: 10px;
}
.news__blocks a{
text-decoration: none;
font-size: 15px;
display: block;
}
.news__blocks img:not(:first-child){
  border-radius: 5px;
}
.news__blocks .first__block{
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.news__blocks .first__column{
  border-right: 1px solid rgba(0, 0, 0, 0.239);  
  padding-right: 12px;
}
.news__blocks .first__block:nth-child(2){
  border-top: 1px solid rgba(0, 0, 0, 0.239);
  padding-top: 12px;
  margin-top: 15px;
}
.news__blocks .first__block img:not(:first-child){
  margin-left: 15px;
}
.news__blocks .first__block p{
color: rgba(0, 0, 0, 0.797);
font-size: 13px;
margin-top: 5px;
}
aside{
  padding-left: 20px;
  margin-top: 150px;
}
aside .title h2, aside .stats h2{
font-weight: 500;
font-size: 20px;
}
aside .title p{
  font-size: 14px;
  color: rgba(0, 0, 0, 0.672);
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  font-weight: 400;
}
.bio1{
  margin-top: 10px;
}
.stats{
  margin-top: 1rem;
}
.stats p{
  font-size: 13px;
}
.stats p:hover{
  text-decoration: underline;
}
#customers th {
  border-bottom: 2px solid #000;
}
.table__heading, .table__body{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  border-bottom: 1px solid rgba(136, 136, 136, 0.415);
  padding: 7px 0;
}
details{
  margin-bottom: 15px;
}
summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(136, 136, 136, 0.415);
  padding-bottom: 13px;
}
.people__ask img{
  width: 15px;
  height: 10px;
}
.summary__content{
  margin-top: 10px;
}
.summary__resource__link{
  font-size: 13px;
  text-decoration: none;
  color: #000;
}
.people__ask__search {
  margin: 12px 0;
}
.people__also__search h3{
  font-size: 17px;
  font-weight: 400;
}
.people__also__search a{
  text-decoration: none;
}